<div class="container">
<div class="row">
<div class="col-md-12 text-center enter_section">
        <h3>Create Poll</h3>
			<form id="cms">
				<div class="form-group">
					<label for="user">User:</label>
					<input placeholder="Your Name" type="text" class="form-control" id="user">
					<br>
					<label for="question">Question:</label>
					<input placeholder="Your Question" type="text" class="form-control" id="question">
					<br>
					<label for="option-one">1:</label>
					<input placeholder="Option 1" type="text" class="form-control" id="option-one">
					<label for="option-two">2:</label>
					<input placeholder="Option 2" type="text" class="form-control" id="option-two">
					<label for="option-three">3:</label>
					<input placeholder="Option 3" type="text" class="form-control" id="option-three">
					<label for="option-four">4:</label>
					<input placeholder="Option 4" type="text" class="form-control" id="option-four">
					<br>
					<button id="submitpoll">Create Poll</button>
					</div>
				</form>
                <div id="polldisplay"></div>
                <div id="chartContainer"></div>
            </div> 
        </div>
    </div>        