<header class="header">

{{!-- NAVIGATION --}}
<nav class="navbar navbar-expand-lg">
	<a class="navbar-brand" href="#">POLLIFE</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

</nav>

{{!-- MAIN BOOTSTRAP CONTAINER --}}
<div class="container">

{{!-- ICON AND TAGLINE --}}
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<h1> P </h1>
		</div>
</header>