<table class=" table table-dark table-striped text-center">
    <tbody>
        {{#each Poll}}
        <tr>
            <td> {{this.dataValues.question}}</td> 
        </tr>
        {{/each}}
    </tbody>
</table>