<!DOCTYPE html>
<html lang="en">
	<head>
		<title>POLLIFE</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<!-- GOOGLE FONTS -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Text+Me+One&display=swap" rel="stylesheet">
		<!-- BOOTSTRAP/CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
            
		{{{ body }}}

	{{!-- ADD IN JQUERY --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="./assets/js/script.js"></script>
	</body>
</html>