<nav class="navbar navbar-expand-lg">
	<a class="navbar-brand" href="#">POLLIFE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log in</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<h1> P </h1>
			<h2>Life happens pretty fast... </h2>
			<h2>Make plans in a flash</h2>
	
		</div>
		<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
				<button type="create" class="btn btn-primary" id="button" href="./create.handlebars">CREATE POLL</button>
				<button type="vote" class="btn btn-primary" id="button">VOTE IN POLL</button>
				<button type="view" class="btn btn-primary" id="button">VIEW POLLS</button>
			</form><br>
			<!-- <p><span style='font-size:50px;'>&#128499;</span></p> -->
		</div>
	</div>
</div>
		<div class="col-md-12 text-center enter_section">
			<h4>Hey!<br><br>We're all busy... <br><br>And sometimes making plans with others is hard.<br><br>
			<b>POLLIFE</b> takes the guesswork out of those tough social decisions. <br><br>
			create a poll and share it with your friends! 

			</h4>
</div>
<footer> 
	<h2>Disclaimer: all votes are legal, official, and final.</h2><br>
	<small>&copy; COPYRIGHT 2020, POLLIFE</small> </footer>
</div>
</div>
</div> 





{{!-- <div class="col-md-12 "
     id="top-bar">
   <h1> Sequelize box </h1>
</div>

<div class="container">
   <div class="row">


      {{!-- view cooment  --}}
      {{> viewComments}}

      {{!-- post comment --}}
      {{> postComments}}

   </div>
</div> --}}