<div class="container main-container pt-3">
   {{> headline}}

   {{!-- view cooment  --}}
   {{> comments/viewComments}}

   {{!-- post comment --}}
   {{> comments/postComments}}
</div>

{{> footer}}