<!DOCTYPE html>
<html>
<head>
   <title>Home</title>
   {{> head}}
</head>

<body>
{{!-- PARAGRAPH --}}
<div class="box sb1">
      <h4>Life happens pretty fast...<br>make plans in a flash</h4>
</div>
<div class="box sb1">
		<h4>POLLIFE takes the guesswork out of those tough social decisions. Put it in a poll and let everyone else decide! </h4>
</div>

{{!-- CREATE POLL HANDLEBARS --}}
   <div class="row">
      {{!-- adding the ">" symbol in handlebars directs it to the corresponding file in the folder "partials" --}}
      {{!-- This makes it easier for more than one person to work on code within the same page  --}}
      {{> createPoll}}
   </div>

   {{!-- RESULTS HANDLEBARS --}}
   <div class="row">
      {{> results}}
   </div>


<br><br><br>
</body>

{{!-- FOOTER --}}
<footer> <br>
   <h2>all votes are legal, official, and final. No recounts.</h2><br>
	<small>&copy; COPYRIGHT 2020, POLLIFE</small> </footer>

