<!DOCTYPE html>
<html>

<head>
   <title>POLLIFE</title>
   {{> head}}
</head>

{{!-- VIEW ALL POLLS HANDLEBARS --}}
<div class="row">
   {{> viewPolls}}
</div>

<footer>
   <h2>Disclaimer: all votes are legal, official, and final.</h2><br>
   <small>&copy; COPYRIGHT 2020, POLLIFE</small>
</footer>

</html>