<div class="col-md-12 text-center enter_section ">
   <div class="mb-1">
      (Total comments:
      {{getLength comments }})
   </div>
   <form action="/api/comments"
         method="POST">
      <textarea 
             rows="4" cols="50"
             class="form-control"
             name="comment"
             value=""
             placeholder="add your comment"
             id="enter_text"></textarea>
      <button type="submit"
              class="btn btn-dark"
              id="text-enter-button">comment</button>
   </form>
</div>